body{
    background-color: rgb(245, 240, 240);
   
}

.container{
    width: 400px;
    display: flex;
    flex-direction: column;
   
}



#resultTable, #tableBody{
    width: 400px;
    border-collapse: collapse;
}

